/**
 * @name ankeerTheme
 * @author ankeer
 * @version 1.0.1v
 * @description норм тема зачетная😎
 * @authorID 271572805643010070
 * @source https://github.com/anceer/anceer.github.io/blob/main/src/ankeer.theme.css
 * @updateUrl https://anceer.github.io/src/ankeer.theme.css
 */
@import url('https://anceer.github.io/src/ankeer.theme.css');
@import url('https://anceer.github.io/src/win.css');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Mono:wght@500&display=swap');
@import url('https://anceer.github.io/svg/close.png');
@import url('https://anceer.github.io/svg/close_hover.png');
@import url('https://anceer.github.io/src/background.css');

/* поле ввода */
#app-mount .scrollableContainer-2NUZem {
  background-color: rgba(0, 0, 0, 0.075)
}

/* кнопки "видео" "экран" */
#app-mount .button-1YfofB {
  background-color: rgba(0, 0, 0, 0.377)
}

/* превью в внешнем виде */
#app-mount .preview-2nSL_2 {
  background-color:rgba(0, 0, 0, 0.2)
}


/* выставление счетов окно */
#app-mount .modal-1qeMox {
  background-color:rgba(58, 58, 58, 0.308)
}

/* интеграции */
#app-mount .accountList-33MS45 {
  background-color:rgba(0, 0, 0, 0.288)
}
#app-mount .connection-1fbD7X {
  background-color: rgba(0, 0, 0, 0.164)
}
#app-mount .connectionHeader-2MDqhu {
  background-color:rgba(0, 0, 0, 0.301)
}

/* окно удаления друзей */
#app-mount .root-1gCeng {
  background: rgb(130,89,249);
  background: linear-gradient(90deg, rgba(130,89,249,1) 0%, rgba(0,114,255,1) 100%);
  }
  


/* авторизованные приложения */
#app-mount .authedApp-mj2Hmd {
  background-color:rgba(0, 0, 0, 0.288)
}

/* остальные кнопки */
#app-mount .fieldButton-27bJrp {
  background-color:#7289da
}
/* кнопка удаления номера телефона */
#app-mount .removeButton-3vophT {
  background-color: #ed4245;
}

#app-mount .modal-3O0aXp {
  background-color: rgba(82, 82, 82, 0.212);
}
/* дата сообщений */
#app-mount .content-1o0f9g {
  padding: 0.5%;
  color: rgba(255, 255, 255, 0.61)
}

/* список ролей слева от чата */
#app-mount .membersGroup-v9BXpm {
  margin-bottom: 3%;
}

#app-mount .layer-v9HyYc {
  background-color: none;
}


/* активность в друзьях */
#app-mount .container-lRFx4q {
  background-color: rgba(15, 15, 15, 0.178)
}

  

  #app-mount .profile-1eT9hT {
    background-color:rgba(0, 0, 0, 0.212);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 10px;
  }
  /* бэкграунд учетки */
  #app-mount .fieldList-21DyL8 {
    background-color: rgba(0, 0, 0, 0.212)
  }

  /* название параметров по середине */
  #app-mount .header-2RyJ0Y {
    text-align: center;
  }

  /* бэкграунд учетки */
  #app-mount .background-1QDuV2 {
    background-color: rgba(0, 0, 0, 0.2)
  }
  