
/*Background + color*/
/* body{
	background-image: url("https://anceer.github.io/images/background.jpg");
} */

#app-mount .children-19S4PO:after {
	display: none;
}

#app-mount .wrapper-3NnKdC {
	background-color: rgba(0, 0, 0, 0.3);
}
#app-mount .container-1r6BKw.themed-ANHk51,
#app-mount .sidebarRegion-VFTUkN,
#app-mount .sidebar-2K8pFh,
#app-mount .panels-j1Uci_,
#app-mount .membersWrap-2h-GB4,
#app-mount .nowPlayingColumn-2sl4cE {
	background-color: rgba(24, 24, 24, 0.2);
}

#app-mount .body-3iLsc4 {
  background-color: rgba(15, 15, 15, 0.178);
}