/* кнопки панели */
.winButtonMinMax-PBQ2gm:hover {
    background-color: var(--blurple);
  }
  
  .titleBar-AC4pGV {
    background-color: transparent;
  }

  .winButton-iRh8-Z:not(:last-child) > svg {
	display: none;
  }
  .winButton-iRh8-Z:hover {
	background-color: var(--background-teritary);
  }
  .winButton-iRh8-Z:not(:last-child)::after {
	content: "";
	border-radius: 50px;
	pointer-events: fill;
  }
  .winButtonClose-1HsbF- {
	margin-right: 5px;
  }
  .winButtonClose-1HsbF-:after {
	padding: 6px;
  }
  .winButtonClose-1HsbF-::after {
	background-image: url("https://anceer.github.io/svg/close.png");
	background-size: 100%;
  }
  .winButtonClose-1HsbF-:hover::after {
	background-image: url("https://anceer.github.io/svg/close_hover.png");
	background-size: 100%;
  }
  
  .winButtonMinMax-PBQ2gm:nth-child(3):after {
	background-color: #ffbd4a;
	padding: 5px;
  }
  .winButtonMinMax-PBQ2gm:nth-child(3):hover::after {
	background-color: #faa81ae5;
  }
  
  .winButtonMinMax-PBQ2gm:last-child {
	color: #6fd3a6;
  }
  .winButtonMinMax-PBQ2gm:last-child:hover {
	color: #43b582e3;
  }
  .winButtonMinMax-PBQ2gm:last-child rect {
	height: 3px;
	rx: 2px;
  }