/* кнопки панели */
.winButtonMinMax-PBQ2gm:hover {
    background-color: var(--blurple);
  }
  
  .titleBar-AC4pGV {
    background-color: transparent;
  }

  .winButton-iRh8-Z:not(:last-child) > svg {
	display: none;
  }
  .winButton-iRh8-Z:hover {
	background-color: var(--background-teritary);
  }
  .winButton-iRh8-Z:not(:last-child)::after {
	content: "";
	border-radius: 50px;
	pointer-events: fill;
  }
  .winButtonClose-1HsbF- {
	margin-right: 5px;
  }
  .winButtonClose-1HsbF-:after {
	padding: 6px;
  }
  .winButtonClose-1HsbF-::after {
	background-image: url("https://anceer.github.io/svg/close.png");
	background-size: 100%;
  }
  .winButtonClose-1HsbF-:hover::after {
	background-image: url("https://anceer.github.io/svg/close_hover.png");
	background-size: 100%;
  }
  
  .winButtonMinMax-PBQ2gm:nth-child(3):after {
	background-color: #ffbd4a;
	padding: 5px;
  }
  .winButtonMinMax-PBQ2gm:nth-child(3):hover::after {
	background-color: #faa81ae5;
  }
  
  .winButtonMinMax-PBQ2gm:last-child {
	color: #6fd3a6;
  }
  .winButtonMinMax-PBQ2gm:last-child:hover {
	color: #43b582e3;
  }
  .winButtonMinMax-PBQ2gm:last-child rect {
	height: 3px;
	rx: 2px;
  }

  /* Window */
.wordmark-2iDDfm svg {
    display: none;
  }
  
  #app-mount,
  .container-16j22k,
  .perksModalContentWrapper-2HU6uL {
    background: linear-gradient(var(--sheer), var(--sheer)),var(--ankeer) center/30% fixed;
  }
  
  #app-mount .app-2rEoOp, 
  #app-mount .layers-3iHuyZ,
  .privateChannels-1nO12o,
  .container-2lgZY8,
  #app-mount .layer-3QrUeG,
  .bg-h5JY_x {
    background-color: transparent;
  }
  
.titleBar-AC4pGV:not(.typeMacOS-3EmCyP)::after {
    font-family: 'Roboto Mono', monospace;
    content: "ankeerTheme";
    position: absolute;
    top: 5px;
    left: 10px;
    color: rgb(170, 170, 170);
    display: block;
    height: 16px;
    width: fit-content;
    pointer-events: none;
    font-size: 14px;
}
